@using System.Security.Claims
@model Domain.Entity.Blogging

@{
    ViewData["Title"] = "CreateBlog";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var fileInput = document.querySelector('input[type="file"]');
            fileInput.addEventListener('change', function () {
                var file = this.files[0];
                if (file.size > 3 * 1024 * 1024) {
                    alert('Cannot upload file larger than 3 MB.');
                    this.value = ''; // Clear the file input
                }
            });
        });
    </script>
}

<section class="add-blog-section">
    <div class="container">
        <h1>Add a New Blog</h1>

        <div class="row">
            <div class="col-md-6">
                <form asp-action="CreateBlog" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="BlogTitle" class="control-label">Title</label>
                        <input asp-for="BlogTitle" class="form-control" />
                        <span asp-validation-for="BlogTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlogContent" class="control-label">Content</label>
                        <textarea asp-for="BlogContent" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="BlogContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ImageFile" class="control-label">Image File</label>
                        <input type="file" name="ImageFile" class="form-control-file" accept="image/*" />
                        <span asp-validation-for="ImageName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</section>


